h1 {
    color: rgb(54, 57, 154)
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgb(145, 194, 228);
    margin: 0;
    padding: 10px 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(110, 162, 184);
    padding: 8px 16px;
    background-color: azure;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgb(161, 189, 201);
}

table {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 220, 213);
}

header {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    color:rgb(5, 4, 4)
}

nav {
    height: 35px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
    border-style: inset;
    list-style-type: none
}

ul {
    display: flex;
    align-items: center;
    border: none;
    height: auto;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    font-size: large;
}

li {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

a {
    color: rgb(4, 34, 60);
    text-decoration: underline;
    margin: 0 10px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    border-radius: 20%;
    font-size: 20px;
}

img {
    height: auto;
    width: 70%;
    margin: 20px;
    padding: 0;
    border-style: ridge;
    object-position: auto;
}
